
.Hexagon{
    background-image:url("../images/stingButton.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    width:100%;
}
.Blank{
 width:100%;
}
.No_Margin{
    margin: 0;
}
