
.Hexagon{
    background-image:url("../images/Picture_hexagon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    width:300px;
}
.Blank{
 display: none;
 width:100%;
}

