
.Hexagon{
    background-image:url("../images/Picture_hexagon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    width:300px;
}
.Blank{
 display: none;
 width:100%;
}

#WelcomeMessage{
  float: left;
  width: 750px;
  padding-top: 20px;
  padding-bottom: 70px;
}
#AProject{
  float: left;
  padding-bottom: 70px;
}
#AUs{
  padding-bottom: 70px;
}
#info{
padding-bottom: 70px;
}
#Filler{
  width: 50vw;
  height: 25vw;
  padding-bottom: 70px;
}
#Filler2{
  width: 50vw;
  height: 25vw;
  padding-bottom: 70px;
}
#Filler3{
  width: 50vw;
  height: 25vw;
  padding-bottom: 70px;
}
