*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

form {
  max-width: 600px;
  text-align: center;
  margin: 12% auto;
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  border: 2px solid black;
  display: block;
  width: 100%;
  margin-top: 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

input:focus, textarea:focus {
  box-shadow: 0 0px 2px rgba(231, 76, 60, 1)!important;
}

#input-submit {
  color: white;
  background: #ffc755;
  cursor: pointer;
    transition: background .2s;
}
#input-submit:hover {
    background: #f7af1d;
}

#input-submit:focus  {
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

textarea {
  height: 157px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
