.background {
    /*background-image: linear-gradient(to right, #ffd154, #e3a000);*/
    background-color: #f5f8fa;
    width: 100%;
    height: 150vh;
    font-family: 'Lilita One', cursive;
    color: #323232;
}



@keyframes stingRotate {
    0% {
        width: 5vw;
        position: fixed;
        left: 47.5vw;
    }
    100% {
        position: fixed;
        left: 85vw;
        transform: rotate(180deg);
        width: 3vw;
    }
}

@keyframes stingRotateBack {
    0% {
        position: fixed;
        left: 85vw;
        transform: rotate(180deg);
        width: 3vw;
    }
    100% {
        width: 5vw;
        position: fixed;
        left: 47.5vw;
    }
}

#stingButtonImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 5vw;
    position: fixed;
    left: 47.5vw;
    bottom: 2vw;
}

.stingAnimation {
    animation-name: stingRotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.stingAnimationBack {
    animation-name: stingRotateBack;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.textUserName {
    font-size: 1.6vw;
    color: black;
}

.textUserName:hover {
    color: #FFC755;
}
.HeaderFontDash{
    color:#222426
}
.DashTitle{
    font-size: 20px;
    font-family:"Arial Black", Gadget, sans-serif;
} 
.DashDesc{
    font-size: 20px;
    font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
} 

.grid-container {
    display:grid;
    grid-template-columns: auto auto;
}
a:hover{
    color: #FFC755;
}
.DashBorder{
   border-radius: 12px;
  border: 2px solid;
  padding: 20px;
}
.DashBorder2TEST{
    border-radius: 12px;
  border: 2px solid;
  padding: 20px; 
}