.background {
    /*background-image: linear-gradient(to right, #ffd154, #e3a000);*/
    background-color: #f5f8fa;
    width: 100%;
    height: 150vh;
    font-family: 'Lilita One', cursive;
    color: #323232;
}

.nav {
    font-size: 2em;
    width: 100%;
}

.navRow {
    width: 100%;
    position: fixed;
}

.firstPartNav {
    float: left;
    color: #323232;
    font-size: 25px;
}

.secondPartNav {
    text-align: right;
    color: #323232;
    font-size: 25px;
}

.secondPartNavDashboard {
    float: left;
    color: white;
}

.secondPartNavDashboard:hover {
    color: white;
}

.firstPartNav:hover {
    color: white;
}

.secondPartNav:hover {
    color: white;
}

#logo {
    display: block;
    position: fixed;
    top: 2vw;
    left: 35vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 30vw;
    animation-duration: 1s;
    animation-name: logo;
}

#logoDashboard {
    display: block;
    position: fixed;
    top: 2vw;
    left: 40vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 20vw;
}

@keyframes stingRotate {
    0% {
        position: fixed;
        left: 47vw;
    }
    100% {
        position: fixed;
        left: 85vw;
        transform: rotate(180deg);
        width: 3vw;
    }
}

@keyframes stingRotateBack {
    0% {
        position: fixed;
        left: 85vw;
        transform: rotate(180deg);
        width: 3vw;
    }
    100% {
        position: fixed;
        left: 47vw;
    }
}

@keyframes logo {
    0% {
        width: 30vw;
        left: 35vw;
    }
    100% {
        left: 40vw;
        width: 20vw;
    }
}

#stingButtonImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 6vw;
    position: fixed;
    left: 47vw;
    bottom: 2vw;
}

.stingAnimation {
    animation-name: stingRotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.stingAnimationBack {
    animation-name: stingRotateBack;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.textUserName {
    font-size: 1.6vw;
    color: white;
}

.textUserName:hover {
    color: lightgray;
}