
.background{
    background-image: linear-gradient(to right, #ffd154, #e3a000);
    width: 100%;
    height: 150vh;
    font-family: 'Lilita One', cursive;
    color: white;
}
.nav{
    font-size: 2em;
    width: 100%;
}
.navRow{
    width: 100%;
}
.firstPartNav{
    float: left;
    color: white;
}

.secondPartNav{
    float: right;
    color: white;
}
.firstPartNav:hover{
    color: white;
}

.secondPartNav:hover{
    color: white;
}
#logo{
    display: block;
    position: relative;
    top: -5vw;
    margin-left: auto;
    margin-right: auto;

    align-content: center;
    width: 35vw;
}