.nav {
    font-size: 2em;
    width: 100%;
}

.navRow {
    width: 100%;
    position: relative;
    margin-bottom: 10vw;
}

.firstPartNav {
    float: right;
    color: #323232;
    font-size: 25px;
}

.secondPartNav {
    text-align: right;
    color: #323232;
    font-size: 25px;
}

.secondPartNavDashboard {
    float: left;
    color: #323232;
    font-size: 25px;
}

.secondPartNavDashboard:hover {
    color: #FFC755;
}

.firstPartNav:hover {
    color: #FFC755;
}

.secondPartNav:hover {
    color: #FFC755;
}

#logo {
    display: block;
    position: absolute;
    top: 0vw;
    left: 37vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 26vw;
}

#logoDashboard {
    display: block;
    position: absolute;
    top: 0vw;
    left: 40vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 20vw;
}