.nav {
    font-size: 2em;
    width: 100%;
}

.navRow {
    width: 100%;
    position: fixed;
}



.firstPartNav {
    float: left;
    color: white;
}

.secondPartNav {
    text-align: right;
    color: white;
}

.secondPartNavDashboard {
    float: left;
    color: white;
}

.secondPartNavDashboard:hover {
    color: white;
}

.firstPartNav:hover {
    color: white;
}

.secondPartNav:hover {
    color: white;
}

#logo {
    display: block;
    position: fixed;
    top: 0vw;
    left: 35vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 30vw;
    animation-duration: 1s;
    animation-name: logo;
}

#logoDashboard {
    display: block;
    position: fixed;
    top: 0vw;
    left: 40vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 20vw;
}

@keyframes stingRotate {
    0% {
        position: fixed;
        left: 47vw;
    }
    100% {
        position: fixed;
        left: 85vw;
        transform: rotate(180deg);
        width: 3vw;
    }
}

@keyframes stingRotateBack {
    0% {
        position: fixed;
        left: 85vw;
        transform: rotate(180deg);
        width: 3vw;
    }
    100% {
        position: fixed;
        left: 47vw;
    }
}

@keyframes logo {
    0% {
        width: 30vw;
        left: 35vw;
    }
    100% {
        left: 40vw;
        width: 20vw;
    }
}

#stingButtonImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 6vw;
    position: fixed;
    left: 47vw;
    bottom: 2vw;
}
